language: rust
os: linux
dist: xenial

script:
  - cargo build --verbose --all
  - cargo test --verbose --all

rust:
  - 1.31.1
  - stable
  - beta
  - nightly

jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true

cache: cargo

notifications:
  email:
    recipients:
      - kroslakma@gmail.com
    on_success: change
    on_failure: always
